<html>
    <head>
        <style>
        #everything{
            width:100%;
            text-align: center;
        }
        .container{
            margin-top: 250px;

        }
        .player-container{
            margin-top: 250px;
        }
        .tic-tac-toe{
            display: inline-block;
            width: 10%;
            height: 100px;
            font-size: 3em;
        }
        </style>
    </head>
    <body>
        <div id="everything">
            <h1>Play some tic tac toe!</h1>
            <div class="container">
                <div class="first-three">
                    <span class="one tic-tac-toe" data-number="1" data-row="0" data-column="0">1</span>
                    <span class="two tic-tac-toe" data-number="2" data-row="0" data-column="1">2</span>
                    <span class="three tic-tac-toe" data-number="3" data-row="0" data-column="2">3</span>
                </div>
                <div class="second-three">
                    <span class="four tic-tac-toe" data-number="4" data-row="1" data-column="0">4</span>
                    <span class="five tic-tac-toe" data-number="5" data-row="1" data-column="1">5</span>
                    <span class="six tic-tac-toe" data-number="6" data-row="1" data-column="2">6</span>
                </div>
                <div class="third-three">
                    <span class="seven tic-tac-toe" data-number="7" data-row="2" data-column="0">7</span>
                    <span class="eight tic-tac-toe" data-number="8" data-row="2" data-column="1">8</span>
                    <span class="nine tic-tac-toe" data-number="9" data-row="2" data-column="2">9</span>
                </div>
            </div>
            <div class="player-container">
                <span class="player1 player">Player1</span>
                <span class="player2 player">Player2</span>
            </div>
            <div class="winner" ></div>
        </div>
    </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            var finalBoardState = "";

            var ticTacArray = [0,0,0,0,0,0,0,0,0];
            var ticTacToeMatrix = [['-','-','-'],
                           ['-','-','-'],
                           ['-','-','-']];
            var playersTurn = "player1";
            var gameOver = false;
            var previousMovesBeingAdded = false;
            findCorrespondingElement = function (col,row)
            {
                var returny;
                var rowArray = $("*[data-row]");
                rowArray.each(function(index,element){
                    var newArray = $(element);
                    if (newArray.data("row") === row && newArray.data("column") === col)
                    {
                        returny = newArray;
                    }
                });
                return returny;
            }
            function howManyPlys(matrix)
            {
                var howMany = 0;
                 matrix.forEach(function(subMatrix){
                     subMatrix.forEach(function(move){
                        if (move === "X" || (move === "O"))
                        {
                            howMany ++;
                        }
                    });
                 });
                return howMany;
            }
            var currentMove;
            $(function() {
                console.log("test");

                function makeBoardFromMatrix(matrix)
                {
                    newMatrix = [[],[],[]];
                    matrix.forEach(function(col,cIndex){
                        col.forEach(function(square,sIndex){
                            newMatrix[cIndex][sIndex] = square;
                            if (square !== '-')
                            {
                                updateBoard(cIndex,sIndex,"green",square);
                            }
                        });
                    });
                    return newMatrix;
                }

                playAgainstComputer = prompt("Play against the Computer?");
                if (playAgainstComputer === "yes")
                {
                    $(".player").hide();
                }
                $(".tic-tac-toe").click(function()
                {
                    if ($(this).text()!=="X" && $(this).text()!=="O" && gameOver === false)
                    {
                        var row = $(this).data("row");
                        var col = $(this).data("column");
                        var color;

                        underlinePlayer(playersTurn);

                        if (playersTurn === "player1")
                        {
                            var playersChoice = 'X';
                            color = "red";
                            playersTurn = "player2";
                        }
                        else if (playersTurn === "player2")
                        {
                            if (playAgainstComputer === "no")
                            {
                                var playersChoice = 'O';
                                color = "blue";
                                playersTurn = "player1";
                            }
                        }
                        updateBoard(col,row,color,playersChoice);
                        ticTacToeMatrix[col][row] = playersChoice;
                        isCatsGame(ticTacToeMatrix);
                        if(playAgainstComputer === 'yes')
                        {
                            playersTurn = "player1";
                            ai();
                        }
                    }
                });
                function ai()
                {
                    templateArray = copyMatrix(ticTacToeMatrix);
                    function copyMatrix(original)
                    {
                        var dummyA = [];
                        original.forEach(function(row,rIndex){
                            dummyA.push([]);
                            row.forEach(function(square,sIndex){
                                dummyA[rIndex][sIndex] = square;
                            });
                        });
                        return dummyA;
                    }

                    //look up final positions in database
                    if (gameOver === false)
                    {
                        var stopHere = false;
                        ticTacToeMatrix.forEach(function(row,rIndex){
                            row.forEach(function(square,sIndex){
                                if (stopHere === false)
                                {
                                    var tempArray = copyMatrix(templateArray);
                                    var dummyFinalState = finalState(null,null,tempArray);
                                    if (square === '-')
                                    {
                                        var badMoveArray = isInDataBase(dummyFinalState);
                                        var beenPlayedBefore = false;
                                        if (badMoveArray.length > 0)
                                        {
                                            badMoveArray.forEach(function(badMove){
                                                if (badMove === findCorrespondingElement(rIndex,sIndex).data("number"))
                                                {
                                                    beenPlayedBefore = true;
                                                }
                                            });
                                            if (!beenPlayedBefore)
                                            {
                                                var currentSquare = findCorrespondingElement(rIndex,sIndex).data("number");
                                                ticTacToeMatrix[rIndex][sIndex] = 'O';
                                                updateBoard(rIndex,sIndex,'blue','O');
                                                stopHere = true;
                                            }
                                        }
                                        else
                                        {
                                            ticTacToeMatrix[rIndex][sIndex] = 'O';
                                            updateBoard(rIndex,sIndex,'blue','O');
                                            stopHere = true;
                                        }
                                    }
                                }
                            });
                        });
                    }
                }
                function isInDataBase(candidateMove)
                {
                    var badMoveArray = [];
                    <%for row in 0 ..@his.length-1 %>
                        if ("<%=@his[row].move_history%>" === candidateMove)
                        {
                            // console.log("The last move played is ","<%=@his[row].last_move%>")
                            badMoveArray.push(<%=@his[row].last_move %>);
                        }
                    <%end%>
                    return badMoveArray;
                }

                function areTheseTwoPositionsEqual(matrix1,matrix2)
                {
                    function matrixToString(matrix)
                    {
                        var stringy = "";
                        matrix.forEach(function(array,index)
                        {
                            stringy += array.toString();
                        });

                        return stringy
                    }
                    string1 = matrixToString(matrix1);
                    string2 = matrixToString(matrix2);
                    return string1 === string2;
                }
                function underlinePlayer(player)
                {
                    if (player === 'player1')
                    {
                        $(".player2").css("text-decoration","underline");
                        $(".player2").css("color","blue");
                        $(".player1").css("text-decoration","none");
                    }
                    else if(player === 'player2')
                    {
                        $(".player1").css("text-decoration","underline");
                        $(".player1").css("color","red");
                        $(".player2").css("text-decoration","none");
                    }
                }

                function gameFinished(player)
                {
                    gameOver = true;
                    var color = {"1" : "red","2": "blue"};
                    $(".player").css("visibility","hidden");
                    $(".winner").css("color", color[player]);
                    var computerLost;
                    if (player === 2 && playAgainstComputer === 'yes')
                    {
                        $(".winner").text("The computer is the winner!!");
                        computerLost = false;
                    }
                    else
                    {
                        $(".winner").text("Player " + player + " is the winner!!");
                        computerLost = true;
                    }

                    compareDBToLegalMoves();
                    if (!previousMovesBeingAdded && computerLost && playAgainstComputer === "yes")
                    {
                        location.href = "/test/" + finalBoardState + currentMove;
                    }
                }
                function compareDBToLegalMoves()
                {
                    var numOfSamePos = 0;
                    <% for index in 0 .. @his.length-1 %>
                        if (finalBoardState === "<%=@his[index].move_history%>")
                        {
                            numOfSamePos ++;
                        }
                    <%end %>
                    var numOfLegalMoves = 0;
                    var numOfX = 0;
                    var numOfO = 0;
                    for (var i = 0; i < finalBoardState.length; i ++)
                    {
                        var letter = finalBoardState[i];
                        if (letter === '-')
                        {
                            numOfLegalMoves ++;
                        }
                        else if (letter === 'O')
                        {
                            numOfO ++;
                        }
                        else if (letter === 'X')
                        {
                            numOfX ++;
                        }
                    }
                    if (numOfLegalMoves -1 === numOfSamePos)
                    {
                        alert(numOfSamePos + " positions have the same position in the database");
                        createPreviousPositions();
                    }
                }
                function createPreviousPositions (numOfX,numOfO)
                {
                    var onePlyBehind = [];
                    for (var i = 0; i < finalBoardState.length; i ++)
                    {
                        var letter = finalBoardState[i];
                        if (letter === 'X')
                        {
                            var modFinalBState = modifyString(finalBoardState,i,"-");
                            onePlyBehind.push(modFinalBState);
                        }
                    }
                    // onePlyBehind.forEach(function(boardState){
                    //     alert("X board state is " + boardState);
                    // });
                    twoPlyBehind = [];
                    var mapper = [1,4,7,2,5,8,3,6,9]
                    onePlyBehind.forEach(function(boardState){
                        for (var i = 0; i < boardState.length; i ++)
                        {
                            var letter = boardState[i];
                            if (letter === 'O')
                            {
                                var modFinalBState = modifyString(boardState,i,"-");
                                twoPlyBehind.push({move_history: modFinalBState,last_move: mapper[i]});
                                previousMovesBeingAdded = true;
                            }
                        }
                    });
                    $.ajax({url:"/previous", data: {positions:twoPlyBehind},method:"post",datatype:"json"});
                    console.log("final board state ",finalBoardState);
                    $.ajax({url:"/lostposition/" + finalBoardState,method:"delete",datatype:"json"});                }
                function modifyString(originalString,index,newLetter)
                {
                    var newString = "";
                    for(var i = 0; i < originalString.length; i ++)
                    {
                        var currentLetter = originalString[i];
                        if (index === i)
                        {
                            newString += newLetter;
                        }
                        else
                        {
                            newString += currentLetter;
                        }
                    }
                    return newString;
                }
                function checkIfThreeInARow()
                {
                    checkVerticalThree();
                    checkHorizontalThree();
                    checkDiagonalThree();

                    function checkVerticalThree()
                    {
                        ticTacToeMatrix.forEach(function(value,index){
                            checkColumn(index);
                        });

                        function checkColumn(index)
                        {
                            function testIfTrue(playerMove)
                            {
                                return (playerMove === ticTacToeMatrix[index][0] && playerMove === ticTacToeMatrix[index][1] && playerMove === ticTacToeMatrix[index][2]);
                            }
                            if (testIfTrue('X') || testIfTrue('O'))
                            {
                                if (ticTacToeMatrix[index][0] === 'X')
                                {
                                    gameFinished(1);
                                }
                                else if(ticTacToeMatrix[index][0] === 'O')
                                {
                                    gameFinished(2);
                                }
                            }
                        }
                    }
                    function checkHorizontalThree()
                    {
                        ticTacToeMatrix[0].forEach(function(value,index){
                            checkRow(index);
                        });
                        function checkRow(index)
                        {
                            function testIfTrue(playerMove)
                            {
                                return (playerMove === ticTacToeMatrix[0][index] && playerMove === ticTacToeMatrix[1][index] && playerMove === ticTacToeMatrix[2][index])
                            }
                            if (testIfTrue('X'))
                            {
                                gameFinished(1);
                            }
                            else if (testIfTrue('O'))
                            {
                                gameFinished(2);
                            }
                        }
                    }
                    function checkDiagonalThree()
                    {
                        checkDiagonal1();
                        checkDiagonal2();

                        function checkDiagonal1()
                        {
                            function testIfTrue(playerMove)
                            {
                                return (playerMove === ticTacToeMatrix[0][0] && playerMove === ticTacToeMatrix[1][1] && playerMove === ticTacToeMatrix[2][2])
                            }
                            if(testIfTrue('X'))
                            {
                                gameFinished(1);
                            }
                            else if (testIfTrue('O'))
                            {
                                gameFinished(2);
                            }
                        }
                        function checkDiagonal2()
                        {
                            function testIfTrue(playerMove)
                            {
                                return (playerMove === ticTacToeMatrix[2][0] && playerMove === ticTacToeMatrix[1][1] && playerMove === ticTacToeMatrix[0][2])
                            }
                            if(testIfTrue('X'))
                            {
                                gameFinished(1);
                            }
                            else if (testIfTrue('O'))
                            {
                                gameFinished(2);
                            }
                        }
                    }
                }
                function finalState(col,row,matrix)
                {
                    var finalBoardState = "";
                    matrix.forEach(function(col1,rIndex){
                        col1.forEach(function(square,sIndex){
                            if (col === rIndex && row === sIndex)
                            {
                                finalBoardState += '-';
                            }
                            else
                            {
                                finalBoardState += square;
                            }
                        });
                    });
                    return finalBoardState
                }
                function updateBoard(col,row,color,playersChoice)
                {
                    if (playersChoice === 'O')
                    {
                        finalBoardState = "";
                        finalBoardState = finalState(col,row,ticTacToeMatrix);
                    }

                    thiss = findCorrespondingElement(col,row);
                    ticTacToeMatrix[col][row] = playersChoice;
                    $(thiss).text(playersChoice);
                    $(thiss).css("color",color);
                    checkIfThreeInARow();
                    if(playersChoice ==='O')
                    {
                       currentMove = thiss.data("number");
                    }
                }

                function isCatsGame(matrix)
                {
                    if (howManyPlys(matrix) === 9 && gameOver === false)
                    {
                        $(".winner").text("There is no winner");
                        $(".player").css("visibility","hidden");
                    }
                }
            });
            </script>
        </body>
