#everything{
  width:100%;
  text-align: center;
}
.container{
  margin-top: 250px;

}
.player-container{
  margin-top: 250px;
}
.tic-tac-toe{
  display: inline-block;
  width: 10%;
  height: 100px;
  font-size: 3em;
}
